html,body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgba(248, 248, 213, 0.986);
}
.Size{
    height: 400px;
    width:  700px;

}
.size{
    height: 300px;
    width: 300px;
}
.nav{
    position: sticky;
}
.C1{
    background-color: rgba(248, 248, 213, 0.986);
}
.card{
    cursor: pointer;
    transition: all .4s;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 3px 1px 5px rgba(3, 5, 3, 0.685);
    z-index: 1000;
    transform: rotateY(18deg);
}
.card-title{
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.card-text{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.body-txt{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.heading{
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.c2{
    background-color: rgba(199, 199, 158, 0.986);
}
.bg{
    background-color: rgba(170, 170, 146, 0.24);
    border: .5px solid black;
}
.Bg{
    background-color: rgba(236, 236, 203, 0.24);
    border: .5px solid black;
}
.star{
    color: rgb(219, 206, 190);
    cursor: pointer;
}
.morpho{
    height: 200px;
    width: 400px;
    object-fit: cover;
}