*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    width: 300px;
    border-radius: 18px;
   
}
.c img{
    width: 100%;
}
.c h1{
    text-align: center;
}
.c p{
    text-align: center;
}

